@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Hide the default date and time icons */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}


body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f8f8f8;
}

.container {
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

.flight-search-container {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo img {
    height: 30px; /* Adjust the height of the logo */
    width: auto; /* Maintain aspect ratio */
}

.flight-section {
    margin-bottom: 15px;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

#to-container {
    background-color: #a3ff66; /* Light green background */
    padding: 15px;
    border-radius: 5px;
}

.time-selector input,
.date-selector input {
    box-sizing: border-box; /* Includes padding in width calculation */
}


#to,#from, #date, #time {
    font-weight: bold; /* Make dropdown text bold */
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
}

.flight-section:hover #to,
.flight-section:hover #from,
.flight-section:hover #date,
.flight-section:hover #time,
.flight-section:focus-within #to,
.flight-section:focus-within #from,
.flight-section:focus-within #date,
.flight-section:focus-within #time {
    opacity: 1;
}

/* .airport-selector, .date-selector, .time-selector {
    pointer-events: none;
} */

.search-flight {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Orbitron', sans-serif;
    transition: transform 0.5s ease-in-out;
}
.search-flight:active {
    transform: scale(0.90);
}
.search-flight:disabled {
    background: #8d8d8d; 
    cursor: not-allowed;
    transform: none; 
    transition: none; 
}
#map {
    width: 100%;
    height: 650px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.current-value {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #555;
}

.leaflet-popup-content {
    font-size: 14px;
    color: #333;
}


#loading-state {
    display: none;
    background-color: rgba(85, 85, 85, 0.5); 
    -webkit-backdrop-filter: blur(3px); /* For Safari and older browsers */
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
}

#loading-spinner{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1001;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }